<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a routerLink="/signin" ><button mat-menu-item>Sign-in</button></a>
            <a routerLink="/profile" ><button mat-menu-item>Profile</button></a>
            <a routerLink="/signout" ><button mat-menu-item>Sign-out</button></a>
          </mat-menu>
      </button>
      <span>My App</span>
      <span class="example-spacer">        </span>
    </mat-toolbar>
  </p>
